$grid-breakpoints: (
  xs: 0,
  smm: 440px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  wd: 1310px
)!default;

@import "mixins";

// primary the accent color
$color__primary: #46ad2a !default; 

// backgrounds
$color__body-background: #ffffff !default;
$color__light-background: #fafafa !default;
$color__dark-background: #212121 !default;

$color__preloader-background: #1a1a1a !default;
$color__preloader-line: #454545 !default;
$color__preloader-text: $color__primary !default;

$color__footer-background: #212121 !default;
$color__input-background: #ffffff	!default;
$color__input-background-focus: #ffffff	!default;

$color__menu-background: #0a0a0a !default;

// Texts
$color__text-main: #565656;
$color__text-ondark: #afafaf;
$color__text-heading: #1a1a1a;
$color__text-heading-ondark: #f4f4f4;
$color__text-soft: #afafaf;
$color__text-light: #ffffff;
$color__text-footer-heading: #f4f4f4;
$color__text-footer: #dadada;
$color__text-input: #989898;
$color__text-input-focus: #565656;
$color__text-input-placeholder: #989898;

// Links
$color__link: #46ad2a !default;
$color__link-hover: darken($color__link, 20%) !default;

$color__link-menu: #afafaf !default;
$color__link-menu-hover: #ffffff !default;
$color__link-menu-active: #ffffff !default;

$color__link-footer: #dadada !default;
$color__link-footer-hover: #ffffff !default;

// Borders (auto compile)
$color__content-border: set-diff-color($color__body-background, 9%);
$color__form-border: set-diff-color($color__body-background, 9%);
$color__footer-border: set-diff-color($color__footer-background, 9%);
$color__menu-border: set-diff-color($color__menu-background, 7.5%);

// font sizes
$size__font-base: 17 !default;
$size__font-footer: 0.9rem !default;
$size__font-h1: 2.75rem !default;
$size__font-h2: 2rem !default;
$size__font-h3: 1.75rem !default;
$size__font-h4: 1.5rem !default;
$size__font-h5: 1.25rem !default;
$size__font-h6: 1rem !default;

$line-height: 1.7 !default;
$base-font-weight: 400 !default;

// font families
$font-family-sans-serif: 	"Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: 	SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: 			$font-family-sans-serif !default;
$font-family-heading:		"Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

:root {
	font-size: calculation-fontsize($size__font-base, 0.85);
}
@include media-breakpoint-up(sm) {
	:root {
		font-size: calculation-fontsize($size__font-base, 0.9);
	}
}
@include media-breakpoint-up(md) {
	:root {
		font-size: calculation-fontsize($size__font-base, 0.95);
	}
}
@include media-breakpoint-up(lg) {
	:root {
		font-size: $size__font-base+(px);
	}
}

html {
	font-size: 1em;
}

body {
	font-family: $font-family-base;
	font-size: 1rem;
	font-weight: $base-font-weight;
	color: $color__text-main;
	background-color: $color__body-background;
	line-height: $line-height;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-heading;
	color: $color__text-heading;

	a {
		color: $color__text-heading;

		&:hover {
			color: $color__link;
		}
	}
}

h1 {
	font-size: $size__font-h1;
	line-height: 1.4;
}
h2 {
	font-size: $size__font-h2;
	line-height: 1.4;
}
h3 {
	font-size: $size__font-h3;
	line-height: 1.4;
}
h4 {
	font-size: $size__font-h4;
	line-height: 1.4;
}
h5 {
	font-size: $size__font-h5;
	line-height: 1.4;
}
h6 {
	font-size: $size__font-h6;
}

a {
	color: $color__link;
	-webkit-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
	&:hover {
		color: $color__link-hover;
		//override the bootstrap link hover
		text-decoration: none;
	}
}

pre,
code,
kbd,
samp {
	font-family: $font-family-monospace;
}

blockquote {
	color: $color__text-heading;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 1;
	color: $color__text-input-placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
	opacity: 1;
	color: $color__text-input-placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
	opacity: 1;
	color: $color__text-input-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
	color: $color__text-input-placeholder;
}
::placeholder {
	opacity: 1;
	color: $color__text-input-placeholder;	
}

input[type="submit"],
button[type="submit"] {
	background: $color__primary;
	color: set-diff-color($color__primary, 60%);
	border-width: 0;

	&:hover,
	&:active {
		background: $color__link-hover;
	}
}

.button {
	background: transparent;
	color: $color__primary;
	border: 1px solid $color__primary;

	&:hover,
	&:active {
		color: set-diff-color($color__primary, 60%);
	}
	&:before {
		background: $color__primary;
	}

	&.button-light,
	&.button-to-quote {
		color: #ffffff;
		border: 1px solid #ffffff;

		&:hover,
		&:active {
			color: set-diff-color(#ffffff, 60%);
		}

		&:before {
			background: #ffffff;
		}
	}
}

button.on-submit {
	border:3px solid $color__primary;
	border-bottom:3px solid rgba($color__primary,0);
	border-left:3px solid rgba($color__primary,0);
}

table {
	border: 1px solid $color__content-border;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
select,
textarea {
	background: $color__input-background;
	background-clip: padding-box;
	outline-width: 0;
	border: 1px solid $color__form-border;
	-webkit-box-shadow: 0 1px 4px rgba($color__form-border, .5);
	box-shadow: 0 1px 4px rgba($color__form-border, .5);
	-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	&:focus {
		background: $color__input-background-focus;
		border-color: set-diff-color($color__body-background, 15%);
		-webkit-box-shadow: 0 1px 3px rgba($color__form-border, .75);
		box-shadow: 0 1px 3px rgba($color__form-border, .75);		
	}
}


#brayn-first-load {
	background-color: $color__preloader-background;

	.bfl-prog {
		font-family: $font-family-heading;
		color: $color__preloader-text;

		div {
			color: $color__preloader-text;
			background: linear-gradient( to top, $color__preloader-background 0%, set-diff-color($color__preloader-background, 10%) 50%, $color__preloader-background 100% );
		}
	}
	.bfl-img-render {
		background-color: $color__preloader-background;
	}

}


#main-header {
	.header-ui {
		.brand--nav {
			background: $color__menu-background;
		}
	}

	&:not(.on_menu) {
		.header-ui {
			.header--complementary {
				a.button-to-quote.button-reverse {
					background: transparent;
					border-color: $color__text-main;
					color: $color__text-main;

					&:before {
						background: $color__primary;
					}

					&:hover {
						border-color: $color__primary;
						color: set-diff-color($color__primary, 80%);
					}
				}
			}
		}
	}
	&.shrink {
		.header-ui {
			.header--complementary {
				a.button-to-quote,
				a.button-to-quote.button-reverse {
					background: $color__primary;
					border-color: $color__primary;
					color: set-diff-color($color__primary, 80%);

					&:before {
						background: $color__menu-background;
					}

					&:hover {
						border-color: $color__menu-background;
						color: set-diff-color($color__menu-background, 80%);
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	#main-header {
		.header-ui {
			.brand--nav {
				background: rgba($color__menu-background, .85);

				&:hover {
					background: rgba($color__menu-background, 1);
				}
			}
		}
	}
}

// hamburger menu
$hamburger-layer-color         : $color__link-menu !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

.hamburger {
	&:hover {
		opacity: $hamburger-hover-opacity;
	}

	&:focus,
	&:active {
		outline-width: 0;
	}
	&.is-active {
		outline-width: 0;

		&:hover {
			opacity: $hamburger-active-hover-opacity;
		}

		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: $hamburger-active-layer-color;
		}
	}
}
.hamburger-inner {
	&,
	&::before,
	&::after {
		background-color: $hamburger-layer-color;
	}
}

/** Main menu */
.main-menu-container-wrap {
	background-color: $color__menu-background;

	ul#brayn-menu {
		font-family: $font-family-heading;

		>li:before {
			color: rgba($color__link-menu, .75);
		}
		li {
			a {
				color: $color__link-menu;

				&:hover {
					color: $color__link-menu-hover;
				}
			}
			.arrow-yuk-down {
				color: rgba($color__link-menu, .75);
				fill: rgba($color__link-menu, .75);
			}
		}
	}

	.ui-menu-container {
		.main-menu-container {	
			border-top: 1px solid $color__menu-border;
		}
		.main-menu-widgets {
			border-top: 1px solid $color__menu-border;
			border-left: 1px solid $color__menu-border;
			.menu-widget {
				> h4 {
					color: $color__link-menu;
				}

				ul.menu-widget-list li {
					a {
						color: $color__link-menu;
						&:hover {
							color: $color__link-menu-hover;
						}
					}
				}
			}
		}
	}
}

//hero
#brayn-section-hero {
	background-color: #000;
	.wip--container {
		color: $color__text-light;

		h1,h2,h3,h4,h5,h6 {
			color: inherit;
		}
	}
	.br-scroll-me {
		color: $color__text-light;
	}
}

.has-dark-color {
	color: #000;
}
.br-has-line {
	&:before {
		background: $color__primary;
	}
}
.has-split-bg {
	&:before {
		background: $color__light-background;
	}
}

.portfolio-carousel-contain {
	.portfolio-carousel-btn-next,
	.portfolio-carousel-btn-prev {
		border: 1px solid $color__content-border;
		color: $color__text-main;
		fill: $color__text-main;
		-webkit-transition: color 0.3s ease-out 0s, fill 0.3s ease-out 0s;
		transition: color 0.3s ease-out 0s, fill 0.3s ease-out 0s;

		&.swiper-button-disabled {
			color: $color__content-border;
			fill: $color__content-border;
			cursor: not-allowed;
		}
	}

	.portfolio-carousel-item{
		.portfolio-category {
			color: $color__text-soft;
		}

		header:before {
			background: rgba(0,0,0, .5);
		}
		&:not(.is-touch):hover {
			header:before {
				-webkit-transition: opacity .5s ease-out .5s;
				transition: opacity .5s ease-out .5s;
				opacity: 1;
			}
			header {
				> * {
					color: #ffffff;
				}
			}
		}
		&.is-touch {
			header:before {
				-webkit-transition: opacity .5s ease-out 1s;
				transition: opacity .5s ease-out 1s;
				opacity: 1;
			}
			header {
				> * {
					-webkit-transition: color .5s ease-out 1s;
					transition: color .5s ease-out 1s;
					color: #ffffff;
				}
			}
		}
	}
}

.br-gallery-carousel-btn-prev,
.br-gallery-carousel-btn-next,
.testimonial-carousel-btn-next,
.testimonial-carousel-btn-prev {
	border: 1px solid $color__content-border;
	color: $color__text-main;
	fill: $color__text-main;
	-webkit-transition: color 0.3s ease-out 0s, fill 0.3s ease-out 0s;
	transition: color 0.3s ease-out 0s, fill 0.3s ease-out 0s;

	&.swiper-button-disabled {
		color: $color__content-border;
		fill: $color__content-border;
		cursor: not-allowed;
	}	
}

.br-post-grid {
	.entry-image {

		a {
			display: block;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				-webkit-box-shadow: inset 0 0 0 0 $color__body-background;
				box-shadow: inset 0 0 0 0 $color__body-background;
				-webkit-transition: -webkit-box-shadow 0.3s ease-out 0s;
				transition: box-shadow 0.3s ease-out 0s;
			}
			&:hover:before {
				-webkit-box-shadow: inset 0 0 0 10px $color__body-background;
				box-shadow: inset 0 0 0 10px $color__body-background;
			}
		}
	}
}

.has-reveal-effect {
	&.revealOnProc {
		color: rgba(0,0,0,0);
		
		> *:not(.revealer) {
			opacity: 0;
			-webkit-transition: none;
			transition: none;
		}
	}
	.revealer {
		background-color: set-diff-color( $color__body-background, 5%);
	}
}

.br-section {
	background: $color__body-background;
	&.has-dark-bg {
		background: $color__dark-background;
		color: $color__text-ondark;

		h1,h2,h3,h4,h5,h6 {
			color: $color__text-heading-ondark;
		}

		.has-reveal-effect {
			&.revealOnProc {
				color: $color__dark-background;
			}
			.revealer {
				background-color: set-diff-color( $color__dark-background, 5%);
			}
		}
	}
	&.has-lightgray-bg {
		background: $color__light-background;
	}
}

.br-animated-number-wrap {
	.br-animated-number {
		font-family: $font-family-heading;
	}
}

header.page-header {
	background: $color__dark-background;
	color: $color__text-ondark;	
	h1,h2,h3,h4,h5,h6 {
		color: $color__text-heading-ondark;
	}

	.has-reveal-effect {
		.revealer {
			background-color: set-diff-color( $color__dark-background, 5%);
		}
	}
}

.project-nav {
	h3 {
		color: $color__light-background;
		letter-spacing: .05em;
		text-shadow: -1px -1px 0 $color__text-main,
			1px -1px 0 $color__text-main,
			-1px 1px 0 $color__text-main,
			1px 1px 0 $color__text-main;	
	}

	.project-nav-title {
		color: $color__text-main;
	}
	a:hover {
		h3 {
			color: $color__text-main;
			text-shadow: none;
		}
	}
}

@supports ((-webkit-text-stroke-color: #666666) and (-webkit-text-fill-color: #ffffff)) {
	.project-nav {
		h3 {
			text-shadow: none;
			letter-spacing: .025em;
			-webkit-text-stroke-color: $color__text-main;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-width-background-position: 100%;
			paint-order: stroke fill;		
		}

		a:hover {
			h3 {
				-webkit-text-stroke-width: 0px;
				-webkit-text-fill-color: $color__text-main;
			}
		}
	}	
}

.tag-links a {
	background: set-diff-color( $color__body-background, 4%);
	color: set-diff-color( $color__body-background, 50%);

	&:hover {
		color: set-diff-color( $color__body-background, 80%);
		background: set-diff-color( $color__body-background, 10%);
	}
}

.post-author-box {
	border: 1px solid $color__content-border;
}

/** !!!!! COMMENTS !!!!! */
.comments-area {

	header.comments-title-header {
		border-bottom: 1px solid $color__content-border;
	}

	.comment-content {
		background: $color__body-background;
		border: 1px solid rgba($color__content-border, .75);
		-webkit-box-shadow: 0 4px 14px -3px rgba(0,0,0, .06);
		box-shadow: 0 4px 14px -3px rgba(0,0,0, .06);

		&:before {
			border-bottom: 6px solid $color__body-background;
		}
	}

	li.pingback {
		.comment-body {
			background: $color__body-background;
			border: 1px solid rgba($color__content-border, .75);
			-webkit-box-shadow: 0 4px 14px -3px rgba(0,0,0, .06);
			box-shadow: 0 4px 14px -3px rgba(0,0,0, .06);

			.edit-link {
				border-left: 1px solid $color__content-border;
			}		
		}
	}

	.comment-metadata {
		a {
			color: $color__text-light;

			&:hover {
				color: $color__text-main;
			}
		}
		a.comment-edit-link {
			border-left: 1px solid $color__content-border;
		}
	}

	.reply {
		a.comment-reply-link {
			background-color: $color__body-background;
			border: 1px solid rgba($color__content-border, .75);
			-webkit-box-shadow: 0 4px 13px -2px rgba(0,0,0, .2), 0 4px 1px -3px rgba(0,0,0, .12);
			box-shadow: 0 4px 13px -2px rgba(0,0,0, .2), 0 4px 1px -3px rgba(0,0,0, .12);
			color: $color__text-main;
			fill: $color__text-main;

			&:hover {
				border-color: $color__content-border;
				color: $color__link;
				fill: $color__link;
				box-shadow: 0 1px 1px 0 rgba(0,0,0, .04);
			}			
		}
	}

	#respond {
		#cancel-comment-reply-link {
			font-family: $font-family-base;
			border: 1px solid $color__link;
			color:  $color__link;			
		}
		form {
			p.logged-in-as {
				background-color: set-diff-color( $color__body-background, 3%);
			}
		}
	}

	.no-comments,
	.comment-awaiting-moderation {
		background-color: rgba(244,211,97, 1);
		border: 1px solid rgba(199,172,77, 1);
		color: rgba(83,74,38,1);
	}
}

@supports (filter: drop-shadow(0px 0px 3px rgba(0,0,0, .06))) {
	.comments-area {
		.comment-content {
			border-width: 0;
			filter: drop-shadow(0px 0px 1px rgba(0,0,0, .2));
		}
	}
}

.navigation {
	&.pagination {
		a.page-numbers {
			-webkit-box-shadow: inset 0 0 0 1px set-diff-color($color__body-background, 15%);
			box-shadow: inset 0 0 0 1px set-diff-color($color__body-background, 15%);

			&:hover {
				background-color: set-diff-color($color__body-background, 5%);
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		span.page-numbers:not(.dots) {
			background-color: $color__primary;
			color: set-diff-color($color__primary, 70%);
			fill: set-diff-color($color__primary, 70%);
		}
	}
}

#br-site-footer {
	background-color: $color__footer-background;
	color: $color__text-footer;

	h1,h2,h3,h4,h5,h6 {
		color: $color__text-footer-heading;
	}

	a {
		color: $color__link-footer;
		fill: $color__link-footer;

		&:hover {
			color: $color__link-footer-hover;
			fill: $color__link-footer-hover;
		}
	}
}
